


.page-title, .detailed-img, .detailed-img-big, .info-container, .reviews {
    border-radius: 25px;
    box-shadow: 0 0 7px 7px rgb(42, 125, 134);
}

.monitor-detail {
    margin: 5rem;
}
.page-title {
    background-color: var(--myblue);
}

.detailed-container {
    min-height: 100vh;
    background-color: var(--myblue);
    position: relative;
}
.detailed-title {
    background-color: var(--myblack);
    color: var(--mylightyellow);
}
.detailed-img-div {
    height: 70%;
    width: 50%;
    position: absolute;
    left: 1.5%;
}
.detailed-img {
    max-height: 100%;
    max-width: 100%;
    margin: 1%;
}
.detailed-img-big {
    height: 100%;
    width: 100%;
    margin: 1%;
}


.info-container {
    background-color: var(--myblack);
    border-radius: 30px;
    color: var(--mylightyellow);
    width: 40%;
    height: 50%;
    margin-right: 3px;
    position: absolute;
    right: 0;
}
.brand {
    background-color: var(--myblack);
    margin: 2%;
    position: absolute;
    left: 0;
}
.detailed-price {
    position: absolute;
    left: 0;
    margin-top: 10%;
    margin-left: 2%;
}




.description-container {
    position: absolute;
    bottom: 10%;
    border: 2px solid var(--myblack);
    border-inline-start: 8px solid lawngreen;
    border-inline-end: 5px solid var(--myred);
    border-radius: 35px 10px 10px 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0.5%;
    padding-top: 0;
}



.modal-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -10%;
    z-index: 50;
    height: 100vh;
    width: 90vw;
    background-color: rgba(0, 0, 0, .7);
    align-items: center;
}

.modal-image {
    max-width: 80%;
}





/* REVIEWS */

.reviews {
    background-color: var(--myblue);
    margin-top: 3rem;
    display: flex;
    width: 100%;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: center;
}
.review-form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.review-form-container input, textarea {
    height: 1.8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 1.2rem;
}
.review-form-container textarea {
    height: 8rem;
}
#rating {
    width: 12%;
    margin-left:44%;
    margin-right:44%;
}

.inner-review-form {
    width: 100%;
}
.review {
    width: 60%;
    border: 1px solid var(--myblack);
    margin: 2%;
    border-radius: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 7px 7px rgb(42, 125, 134);
}

.create-review-btn {
    background-color: var(--myblack);
    color: var(--mylightyellow);
    border: 2px solid var(--myblack);
    width: 80%;
    height: 2rem;
    font-weight: bold;
    font-size: 20px;
}

.delete-review-btn, .edit-review-btn, .update-btn {
    background-color: var(--mydarkyellow);
    border: 2px solid var(--myblack);
    font-weight: bold;
    width: 5.5rem;
    height: 1.5rem;
    margin: 0.7rem;
    font-size: 16px;
}
.update-btn {
    width: 75%;
    height: 1.7rem;
}

.delete-review-btn {
    background-color: var(--myred);
}

.delete-review-btn:hover, .edit-review-btn:hover, .create-review-btn:hover, .update-btn:hover {
    box-shadow:  0px 0px 2px 2px;
}



/* Wishlists */

.item-wishlists {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}
.item-wishlists-container {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
}
.item-wishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
.add-to-btn {
    background-color: var(--mylightyellow);
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
}

/* Cart */
.cart-button-container {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-cart-btn {
    background-color: var(--mydarkyellow);
    width: 10rem;
    height: 2.2rem;
    font-size: 23px;
    font-weight: bold;
    border-radius: 30px;
    border-radius: 30px;
}

.add-cart-btn:hover, .add-to-btn:hover {
    box-shadow:  0px 0px 2px 2px var(--mydarkyellow);
}






@media screen and (max-width: 1150px) {
    .detailed-img-div {
        height: 85%;
        width: 65%;
        position: absolute;
        left: 2%;
    }
    .monitor-detail {
        margin-bottom: 6rem;
    }
}
@media screen and (max-width: 700px) {
    .monitor-detail {
        margin: 2rem;
        margin-bottom: 6rem;
    }
    .detailed-img-div {
        height: 90%;
        width: 65%;
        position: absolute;
        left: 4%;
    }
    .brand {
        left: 10%;
        font-size: 1.2rem;
    }
    .detailed-price {
        left: 10%;
        margin-top: 17%;
        font-size: 1.3rem;
    }
    .item-wishlists {
        font-size: 12px;
    }
    .item-wishlists-container {
        height: 30%;
    }
    .add-to-btn {
        font-size: 15px;
    }
}
@media screen and (max-width: 600px) {
    .monitor-detail {
        margin-bottom: 7rem;
    }
    .add-cart-btn {
        background-color: var(--mydarkyellow);
        width: 8rem;
        height: 2rem;
        font-size: 18px;
    }
}
@media screen and (max-width: 450px) {
    .modal-container {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        position: absolute;
        top: -10%;
        left: -11%;
        z-index: 50;
        height: 100vh;
        width: 95vw;
    }
    .modal-image {
        max-width: 100%;
    }
    .detailed-title {
        font-size: 1.5rem;
    }
    .detailed-img-div {
        height: 90%;
        width: 90%;
        left: 5%;
        align-items: center;
    }
    .slick-track {
        height: 15rem;
    }
    .detailed-img {
        max-height: 15rem;
    }
    .info-container {
        width: 80%;
        height: 27%;
        margin-right: 10%;
        margin-left: 10%;
        position: absolute;
        top: 40%;
    }
    .brand {
        left: 30%;
        font-size: 1.2rem;
    }
    .detailed-price {
        left: 30%;
        margin-top: 12%;
        font-size: 1.2rem;
    }
    /* .item-wishlists {
        font-size: 12px;
    } */
    .item-wishlists-container {
        height: 50%;
    }
    .add-to-btn {
        font-size: 20px;
    }
    .description-container {
        padding: 0.5%;
        padding-top: 0;
        bottom: 1%;
        overflow: auto;
        max-height: 30%;
    }
    .description-container h2 {
        font-size: 1.2rem;
    }
    .review {
        width: 90%;
        border: 1px solid var(--myblack);
        margin: 3%;
        border-radius: 30px;
        border-radius: 30px;
        box-shadow: 0 4px 7px 7px rgb(42, 125, 134);
    }
}