
.monitor-detail {
    background-color: var(--myred);
    margin: 5rem;
}

.detailed-container {
    /* display: flex;
    justify-content: center; */
    height: 100vh;
    background-color: var(--myblue);
    position: relative;
}
.detailed-title {
    background-color: var(--myblack);
    color: var(--mylightyellow);
}
.detailed-img-div {
    height: 70%;
    width: 50%;
    position: absolute;
    left: 0;
}
.detailed-img {
    max-height: 100%;
    max-width: 100%;
    margin: 1%;
    border-radius: 25px;
    box-shadow: 0 0 7px 7px rgb(42, 125, 134);
}
.detailed-img-big {
    height: 100%;
    width: 100%;
    margin: 1%;
    border-radius: 25px;
    box-shadow: 0 0 7px 7px rgb(42, 125, 134);
}


.info-container {
    background-color: var(--myblack);
    /* display: flex; */
    border-radius: 30px;
    box-shadow: 0 0 7px 7px rgb(42, 125, 134);
    /* justify-content: center; */
    color: var(--mylightyellow);
    width: 40%;
    height: 50%;
    margin-right: 3px;
    position: absolute;
    right: 0;
}
.brand {
    background-color: var(--myblack);
    margin: 2%;
    position: absolute;
    left: 0;
}
.detailed-price {
    position: absolute;
    left: 0;
    margin-top: 10%;
    margin-left: 2%;
}




.description-container {
    position: absolute;
    bottom: 0;
}



.modal-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -10%;
    z-index: 50;
    height: 100vh;
    width: 90vw;
    background-color: rgba(0, 0, 0, .7);
    /* position: relative; */
    align-items: center;
}

.modal-image {
    /* position: absolute; */
    /* z-index: 50; */
    /* bottom: 0; */
    max-width: 80%;
}



