
.navbar {
    background-color: var(--myblack);
    display: flex;
    justify-content: space-between;
    height: 5.5rem;
}

.cart-container {
    background-color: var(--mylightyellow);
    margin-right: 2%;
    height: 75%;
    margin-top: 3px;
    border-radius: 100px;
}

.nav-link {
    text-decoration: none;
    color: var(--mylightyellow);
}




.footer {
    height: 8vh;
    width: 100%;
    background-color: var(--myblack);
    color: white;
    /* display: flex; */
    /* position:static;
    bottom: 0; */
    /* position: relative; */
    position: absolute;
    bottom: 0;
}
.copyright {
    position: absolute;
    right: 0;
    margin-right: 5%;
    font-size: 1.5rem;
}