
.navbar {
    background-color: var(--myblack);
    display: flex;
    justify-content: space-between;
    height: 5.5rem;
    width: 100%;
}


.cart-container {
    background-color: var(--mylightyellow);
    margin-right: 2%;
    height: 75%;
    margin-top: 3px;
    border-radius: 100px;
}
.cart-container:hover {
    -webkit-box-reflect: above -120px
    linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
}

.nav-link {
    text-decoration: none;
    color: var(--mylightyellow);
}




.footer {
    height: 8vh;
    width: 100%;
    background-color: var(--myblack);
    color: white;
    /* display: flex; */
    /* position:static;
    bottom: 0; */
    /* position: relative; */
    position: absolute;
    bottom: 0;
}
.copyright {
    position: absolute;
    right: 0;
    margin-right: 5%;
    font-size: 1.5rem;
}
@media screen and (max-width: 1100px) {
    .navbar {
        font-size: 75%;
    }
    .cart-container {
        margin-right: 1%;
        height: 60%;
    }
    .cart-icon {
        height: 100%;
    }
    .profile-icon{
        height: 100%;
    }
}
@media screen and (max-width: 850px) {
    .navbar {

        font-size: 50%;
    }
}
@media screen and (max-width: 450px) {
    .navbar {
        height: 3rem;
        font-size: 40%;
    }
    .nav-link {
        margin-top: 5px;
    }
    .cat-link{
        margin-top: 8px;
    }
    .cart-container {
        margin-right: 1%;
        height: 40%;
        margin-top: 15px;
    }
    .cart-icon {
        height: 100%;
    }
    .profile-icon{
        height: 100%;
    }
}