

.results {
    background-color: lightgray;
    display: flex;
}

.items {
    background-color: aqua;
    height: 25rem;
    width: 23rem;
    margin: 0 auto;  
}

.img{
    max-width: 100%;
    max-height: 50%;
}

.cart-btn {
    background-color: rgb(9, 221, 9);
    font-weight: bold;
    font-size: 1em;
}