
.featured-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.featured-item {
    border-radius: 50px;
    /* display: flex; */
    background-color: var(--myred);
    width: 70%;
    height: 100%;
}

.featured-img {
    width: 95%;
    border-radius: 50px;
}