

.top-choice-keyboard-container, .top-choice-mouse-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.top-choice-keyboard, .top-choice-mouse{
    background-color: var(--myred);
    width: 70%;
    height: 100%;
    border-radius: 50px;
}
.featured-keyboard-img, .featured-mouse-img {
    max-width: 80%;
}




