

:root {
    --myred: rgba(217, 30, 80, 1);
    --myblue: rgba(94, 181, 191, 1);
    --myblack: rgba(13, 12, 0, 1);
    --mylightyellow: rgba(242, 212, 61, 1);
    --mydarkyellow: rgba(242, 199, 68, 1);
}

.link {
    text-decoration: none;
    color: inherit;
}


.loading-data-container {
    width: 40%;
    margin: 0 auto;
    margin-top: 4rem;
    background-color: var(--myblack);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border-radius: 25px;
    box-shadow: 0px 5px 7px 10px rgb(42, 125, 134);
}
.loading-data {
    display: flex;
    align-items: center;
    color: var(--myblue);
}

/* I copied from this link but changed to my own:
https://stackoverflow.com/questions/13607117/css-css3-pixelate-dot-background */
body {
    background-image: -moz-linear-gradient(45deg, var(--myblack) 25%, transparent 25%), 
        -moz-linear-gradient(-45deg, var(--myblack) 25%, transparent 25%), 
        -moz-linear-gradient(45deg, transparent 75%, var(--myblack) 75%), 
        -moz-linear-gradient(-45deg, transparent 75%, var(--myblack) 75%);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, var(--myblack)), color-stop(.25, transparent)), 
        -webkit-gradient(linear, 0 0%, 100% 100%, color-stop(.25, var(--myblack)), color-stop(.25, transparent)), 
        -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, var(--myblack))), 
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, var(--myblack)));
    background-image: -webkit-linear-gradient(45deg, var(--myblack) 25%, transparent 25%), 
        -webkit-linear-gradient(-45deg, var(--myblack) 25%, transparent 25%), 
        -webkit-linear-gradient(45deg, transparent 75%, var(--myblack) 75%), 
        -webkit-linear-gradient(-45deg, transparent 75%, var(--myblack) 75%);
    background-image: -o-linear-gradient(45deg, var(--myblack) 25%, transparent 25%), 
        -o-linear-gradient(-45deg, var(--myblack) 25%, transparent 25%), 
        -o-linear-gradient(45deg, transparent 75%, var(--myblack) 75%), 
        -o-linear-gradient(-45deg, transparent 75%, var(--myblack) 75%);
    background-image: linear-gradient(45deg, var(--myblack) 60%, transparent 25%), 
        linear-gradient(-45deg, var(--myblack) 10%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, var(--myblack) 75%), 
        linear-gradient(-45deg, transparent 75%, var(--myblack) 75%);
    -moz-background-size: 2px 2px;
    background-size: 2px 2px;
     -webkit-background-size: 35px 35px; /* override value for webkit */
    background-position: 0 1, 1px 0, 1px -1px, 0px 1px;
    background-color: var(--mylightyellow);
}

body {
    position: relative;
    min-height: 96.5vh;
    padding-bottom: 1.63rem;
}

.App {
  text-align: center; 
}


