
.cart-page {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.cart-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    width: 50vw;
    height: 5rem;
    background-color: var(--myblue);
    color: var(--mydarkyellow);
    /* text-shadow: 1px 1px 16px 16px var(--myblack); */
    font-size: 2rem;
    text-shadow: -3px 3px 15px var(--myblack), 3px -3px 15px var(--myblack);
    /* text-shadow: -6px 6px 6px #000,
                          6px 6px 6px #000,
                         6px -6px 6px #000,
                        -6px -6px 6px #000; */
    letter-spacing: 8px;
}

/* margin: auto auto; */

.cart {
    background-color: var(--myblue);
    width: 75vw;
    margin-bottom: 6rem;
}

.cart-item-container {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--myblack);
    border-inline-start: 8px solid lawngreen;
    border-inline-end: 5px solid var(--myred);
    border-radius: 35px 10px 10px 10px;
    margin: 3rem;
}

.cart-img-container {
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 10rem;
    height: 10rem;
}
.cart-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 7px 7px rgb(42, 125, 134);
}
.cart-title-container, .cart-price-container {
    display: flex;
    height: inherit;
    align-items: center;
    margin: 1rem;
}

.total-container {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
}

.remove-item-btn {
    background-color: var(--myred);
    margin-right: 1.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.item-link {
    text-decoration: none;
    color: inherit;
}
.item-link:hover {
    text-decoration:underline;
    color: var(--mydarkyellow);
}

.remove-item-btn:hover ~ .item-link {
    text-decoration: line-through;
}

.remove-item-btn:hover {
    box-shadow:  0px 0px 2px 2px;
}

