
.cart-page, .order-history {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.paypal {
    margin: 1rem;
    margin-left: 3rem;
}

.cart-header, .orders-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    width: 50vw;
    height: 5rem;
    background-color: var(--myblue);
    color: var(--mydarkyellow);
    font-size: 2rem;
    text-shadow: -3px 3px 15px var(--myblack), 3px -3px 15px var(--myblack);
    letter-spacing: 8px;
}

/* margin: auto auto; */

.cart, .orders {
    background-color: var(--myblue);
    width: 75vw;
    margin-bottom: 6rem;
}

.cart-item-container, .order, .order-item-container {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--myblack);
    border-inline-start: 8px solid lawngreen;
    border-inline-end: 5px solid var(--myred);
    border-radius: 35px 10px 10px 10px;
    margin: 3rem;
}
.order {
    flex-flow: wrap;
}
.order-item-container {
    border: 3px solid var(--myblack);
    background-color: var(--mydarkblue);
    box-shadow: 0 5px 9px 9px rgb(42, 125, 134);
}

.cart-img-container {
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 10rem;
    height: 10rem;
}
.cart-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 7px 7px rgb(42, 125, 134);
}
.cart-title-container, .cart-price-container {
    display: flex;
    height: inherit;
    align-items: center;
    margin: 1rem;
}

.total-container {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
}

.remove-item-btn {
    background-color: var(--myred);
    margin-right: 1.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.item-link {
    text-decoration: none;
    color: inherit;
}

.checkout-btn {
    background-color: var(--myblack);
    color: var(--mylightyellow);
    margin: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

.item-link:hover {
    text-decoration:underline;
    color: var(--mydarkyellow);
}

.remove-item-btn:hover ~ .item-link {
    text-decoration: line-through;
}

.remove-item-btn:hover, .checkout-btn:hover {
    box-shadow:  0px 1px 3px 3px;
}




@media screen and (max-width: 450px) {
    .cart-header, .orders-header {
        width: 60vw;
        font-size: 0.6rem;
        letter-spacing: 5px;
    }
    .cart, .orders {
        width: 85vw;
    }
    .cart-item-container, .order, .order-item-container {
        flex-flow: wrap;
        margin: 1rem;
        font-size: 0.5rem;
    }


    .cart-img-container {
        margin: 0.2rem;
        width: 80%;
        height: 10rem;
    }
    .cart-img {
        margin: auto auto;
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
        box-shadow: 0 0 7px 7px rgb(42, 125, 134);
    }
    .cart-title-container, .cart-price-container {
        margin: 0.2rem;
    }
    
    .total-container {
        display: flex;
        justify-content: flex-end;
        margin: 2rem;
    }
    
    .remove-item-btn {
        background-color: var(--myred);
        margin-right: 1rem;
        font-size: 1rem;
    }
    .cart-price-container {
        font-size: 1rem;
    }
    .checkout-btn {
        background-color: var(--myblack);
        color: var(--mylightyellow);
        font-weight: bold;
    }
    .total-container {
        flex-flow: wrap;
        justify-content: center;
    }
}



