

.login, .register{
    background-color: var(--myblue);
}
.login-form, .register-form {
    margin: 3rem;
}
.invalid-input {
    color: var(--myred);
}
.register, .login {
    margin: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: wrap;
}
.register-form, .login-form {
    font-size: 2rem;
    text-align: center;
    width: 50%;
    /* display: flex; */
}
.register-form input, .login-form input {
    height: 2rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 1.2rem;
} 
.register-inner-form, .login-inner-form {
    justify-items: center;
    text-align: center;
    width: 15.5rem;
}
.register-title, .login-title {
    width: 100%;
    letter-spacing: .5rem;
    font-weight: 800;
    margin-bottom: 0;
}


.login-btn, .register-link, .login-link {
    height: auto;
    width: 50%;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--mylightyellow);
}
.login-btn, .login-link {
    background-color: var(--myblack);
    color: var(--mylightyellow);
    width: 100%;
}
.login-link {
    width: 50%;
}
.register-btn {
    width: 100%;
    height: 2rem;
    background-color: var(--mylightyellow);
    font-weight: bold;
    font-size: 20px;
}