

.profile {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    width: 100%;
}

.user-info-container {
    display: flex;
    background-color: aqua;
    width: 50vw;
    height: 30vh;
    justify-content: center;
    margin: 3rem;
}
.help-container {
    display: flex;
    background-color: var(--myblack);
    width: 70vw;
    margin: 3rem;
}
.help-container button {
    background-color: var(--myblack);
    color: var(--mylightyellow);
    height: 5rem;
    width: 30%;
    margin: 2rem;
    font-size: 2rem;
}