
.wishlists {
    display: flex;
    justify-content: center;
}
.wishlists-container {
    width: 80%;
    background-color: var(--myblue);
}
.wishlist {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--myblack);
    margin: 3rem;
}
.wishlist-link {
    width: 20%;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: var(--myblack);
    color: var(--mylightyellow);
}
.wishlist-back-btn {
    padding: 0;
    font-size: 1.6rem;
    font-weight: bold;
    width: 10%;
    height: 2rem;
    background-color: var(--myblack);
    color: var(--myred);
}