
.wishlists {
    display: flex;
    justify-content: center;
    margin: 3rem;
}
.wishlists-container {
    width: 80%;
    background-color: var(--myblue);
    border-radius: 25px;
    box-shadow: 0 0 7px 7px rgb(42, 125, 134);
}
.wishlist, .wishlist-item-container {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--myblack);
    border-inline-start: 8px solid lawngreen;
    border-inline-end: 5px solid var(--myred);
    border-radius: 35px 10px 10px 10px;
    margin: 3rem;
}

.wishlist-item-container {
    display: flex;
    margin: 2rem;
}

.wishlist-img-container {
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 10rem;
    height: 10rem;
}
.wishlist-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 7px 7px rgb(42, 125, 134);
}
.wishlist-title-container, .wishlist-price-container {
    display: flex;
    height: inherit;
    align-items: center;
    margin: 1rem;
}

.wishlist-link {
    width: 20%;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: var(--myblack);
    color: var(--mylightyellow);
}
.wishlist-back-btn, .wishlist-delete-btn {
    padding: 0;
    margin: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    width: 10%;
    height: 2rem;
    background-color: var(--myblack);
    color: var(--myred);
}
.wishlist-delete-btn {
    color: var(--myblack);
    background-color: var(--myred);
}
.remove-item-btn {
    background-color: var(--myred);
    margin-right: 1.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.item-link {
    text-decoration: none;
    color: inherit;
}
.item-link:hover {
    text-decoration:underline;
    color: var(--mydarkyellow);
}

.remove-item-btn:hover ~ .item-link {
    text-decoration: line-through;
}

.wishlist-back-btn:hover, .wishlist-link:hover, .wishlist-delete-btn:hover, .remove-item-btn:hover {
    box-shadow:  0px 0px 2px 2px;
}