
.wishlists {
    display: flex;
    justify-content: center;
}
.wishlists-container {
    width: 80%;
    background-color: var(--myblue);
}
.wishlist {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--myblack);
    margin: 3rem;
}
.wishlist-link {
    width: 20%;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: var(--myblack);
    color: var(--mylightyellow);
}
.wishlist-back-btn {
    padding: 0;
    font-size: 1.6rem;
    font-weight: bold;
    width: 10%;
    height: 2rem;
    background-color: var(--myblack);
    color: var(--myred);
}

.wishlist-item-container {
    display: flex;
    border: 2px solid var(--myblack);
    margin: 2rem;
}

.wishlist-img-container {
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 10rem;
    height: 10rem;
}
.wishlist-img {
    max-width: 100%;
    max-height: 100%;
}
.wishlist-title-container, .wishlist-price-container {
    display: flex;
    height: inherit;
    align-items: center;
    margin: 1rem;
}